/*

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic);
*/

html, body { height:98%; }
body {
	line-height: 1.4;
	background:	repeat-x fixed 0% 0% #fafafa;
	overflow-y:scroll;
	/* font-family: 'Open Sans', Helvetica, tahoma, arial, sans-serif; */
	font-family: 'Lucida Sans Unicode', helvetica, arial, sans-serif;
  font-weight: 300;
}
.logo a, .logo h1 {
  margin-left: 20px;
  font-size: 36px;
  margin-bottom: 0px;
  font-weight: 300;
}

h2 {
  font-weight: 300;
  color: #000;
  margin-bottom: 0;
}
h3, h4, h5, input, .nav a
{

	font-family: 'Lucida Sans Unicode', helvetica, arial, sans-serif;
  font-weight: 300;
}
a {
  font-weight: 400;
}
input
{
  color: black;
  margin-bottom: 12px;
  font-size: 14px;
}

.container {
  max-width: 980px;
  min-width: 500px;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  clear: both;
  height: 97%;
}

.maincontainer
{
  max-width: 980px;
  min-width: 500px;
	background: #F7f7f7;
	margin: 15px auto;
	padding: 20px;
	overflow:hidden;
	margin-bottom:10px;
  color: #444;
  min-height: 450px;
}

.header {
	color: #555;
	margin: auto;
	margin-bottom: 10px;
	padding: 10px;
}

.logo {
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav { width: 430px; margin: auto; text-align: center; }

.nav li
{
  font-size: 14px;
  display: inline-block;
  margin: 5px;
  color: #555;
}

ul {	list-style: none; }

.nav a
{
  font-size:20px;
}

a:visited {
	color: #0b85ef;
}

a {
	color: #0b85ef;
	text-decoration: none;
	font-weight: regular;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.current a {
    color: black;
}
a:hover {
	color: black;
}

.rounded-corners, .sidebar, .header, .container, .maincontainer, .content article {
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.content {
	padding-right: 30px;
	padding-left: 10px;
	padding-top: 20px;
	overflow: hidden;
}

.content p {
	text-align: justify;
	margin-top: 0px;
	margin-left: 10px;
}

label {
  margin-bottom: 2px;
}

.formdiv label
{
	display: block;
	width: 200px;
  margin-bottom: 5px;
  font-size: 18px;
	/* text-align: right; */
}
.formdiv input[type='text']
{
	width: 90%;
  margin-right: 5px;
	//margin: auto;
}
.formdiv
{
  margin-bottom: 30px;
}
.addformdiv label
{
  display:block;
	width: 200px;
  margin-bottom: 5px;
  font-size: 18px;
}
.addformdiv input[type='text'], input[type="url"]
{
  width: 50%;
	//margin: auto;
}
.addformdiv
{
  margin-bottom: 30px;
}



hr {
  border-color: #FFF;
}

table {
  border: 1px solid #666;
  text-align: center;
}

#animelist li {
  display: inline-block;
  margin-right: 15px;
}
#animelist img {
  width: 200px;
  height: 200px;
}

#bgimg
{
  float: right;
  z-index; -1;
}

.post { margin: 20px; }
.Authornm { color: #79BAF2; }
.postAuthor
{
}
.postTitle ul, .postTitle li { padding: 0; display: inline; }
.postAuthor img
{
  width: 50px;
  display: block;
}
.postSubTitle
{
  display: block;
  margin-bottom: 20px;
}
.postDate
{
  font-size: 13px;
}
.postTags li
{
  list-style-type: none;
  display: inline;
  font-size: 13px;
  margin-right: 8px;
}
.postContent
{
  margin-left: 70px;
  margin-right: 70px;
}
.post
{
  padding-bottom: 20px;
  margin-bottom: 30px;
  padding-bottom: 60px;
}
.post:nth-last-child(2) { border-bottom: 0px; }
.seperator { font-size: 16px; color: #888; }
.aside { float:right; margin-right: 40px; }
.PostsList { margin-left: 20px; }
ul { padding-left: 0; }
.postHeader
{
  color: black;
  font-weight: 300;
  font-size: 28px;
}
.postContent h1 { font-size: 26px; }
.postContent h2 { font-size: 24px; }
.postContent h3 { font-size: 22px; }
.postContent h4 { font-size: 20px; }
.postContent h5 { font-size: 18px; }
.postContent h6 { font-size: 16px; }

.postContent h1, .postContent h2, .postContent h3, .postContent h4, .postContent h5, .postContent h6
{
  color: #111;
  font-weight: normal;
}
.postContent
{
	font-family: 'Lucida Sans Unicode', helvetica, arial, sans-serif;
  font-weight: initial;
}

.postContent img
{
  display: block;
  margin: auto;
}

.footer {
  color: #AAA;
  font-size: 14px;
  padding: 20px;
  text-align: center;
}
